---
title: {{{title}}}
layout: root.hbs

---

<article class="bardot__page" data-image="../img/pages/{{{image}}}" data-thumb="../img/pages/thumbs/{{{thumb}}}">

	<figure>
		<img src="../img/pages/{{{image}}}" alt="{{{title}}}" class="bardot__page__img">
		<figcaption>
			<h1>Page {{{id}}}: {{{title}}}</h1>
			<p>{{{synopsis}}}</p>
			<p>{{{tags}}}</p>
		</figcaption>
	</figure>

</article>